        /*RESET DE CSS */
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            height: 100vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
        }
        /*
--------------------------
        SECAO MENU LEFT
--------------------------
*/
        
        .lado-esquerdo {
            min-width: 330px;
            width: 20vw;
            background-color: #2d3e4f;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            text-transform: uppercase;
            color: aliceblue;
            height: 100vh;
            position: fixed;
        }
        
        .menu-esquerdo-superior {
            margin-top: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            min-height: 400px;
        }
        
        .menu-esquerdo-superior>div>a {
            list-style: none;
            text-decoration: none;
            color: aliceblue;
            transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
        }
        /* remove o estilo de pagina visitada */
        
        .menu-esquerdo-superior>div>a:visited {
            list-style: none;
        }
        
        #titulo a {
            color: #cf404d;
        }
        
        .lado-esquerdo .menu-esquerdo-superior div a:hover {
            color: #cf404d;
            cursor: pointer;
        }
        /*
        --------------------------
                SECAO AJUSTE LADO DIREITO
        --------------------------
        */
        
        .lado-direito {
            width: 90vw;
            margin-left: 330px;
        }
        /*
        --------------------------
                SECAO HOME
        --------------------------
        */
        
        #home {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpg);
            background-position: 0% 0%, 50% 50%;
            background-size: auto, cover;
            background-repeat: repeat, no-repeat;
            min-height: 100vh;
        }
        
        #home .home-content {
            display: flex;
            flex-direction: column;
            color: white;
            font-size: 50px;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .home-titulo {
            font-size: 50px;
            text-transform: uppercase;
        }
        
        .home-sub-titulo {
            font-size: 16px;
        }
        
        button {
            padding: 15px;
            border-radius: 5px;
            transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
        }
        
        button:hover {
            background: transparent;
            cursor: pointer;
        }
        
        .button-1:hover {
            background-color: #2d3e4f;
            border: 2px solid #2d3e4f;
        }
        
        .button-2 {
            color: white;
            background-color: #cf404d;
            border: 2px solid #cf404d;
        }
        
        .button-2:hover {
            border-radius: 5px;
            border: 2px solid #cf404d;
        }
        /*
        --------------------------
                SECAO PAGINAS
        --------------------------
        */
        
        .paginas {
            display: flex;
            flex-direction: column;
            /* position: relative; */
        }
        
        .paginas>section {
            background-color: tomato;
            min-height: 100vh;
        }
        /*
--------------------------
        TESTES CSS INICIAL
--------------------------

*/
        
        #about {
            background-color: aqua;
            color: black;
            font-size: 40px;
            float: right;
            min-height: 100vh;
        }
        
        #gallery {
            background-color: blueviolet;
            float: right;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        #contact {
            background-color: #cf404d;
            float: right;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        /*
--------------------------
        TESTES CSS FINAL
--------------------------
*/